@{
    ViewData["Title"] = "Privacy Policy";
}
<h2>@ViewData["Title"]</h2>
<hr />
<div class="p-2">
    <p>Denna webbplats samlar inte in personuppgifter. All information som matas in används lokalt och delas inte.</p>
    <br />
    <p>This site does not collect personal data. All data entered is used locally and not shared.</p>
</div>


